## dataypes

In [1]:
poem = '''jhonny jhonny yes papa
eating sugar no papa
open your mouth haa aha aha'''
print(poem)

jhonny jhonny yes papa
eating sugar no papa
open your mouth haa aha aha

In [ ]:
#LIST

fruits = ['apple','guava','banana','orange']
print(fruits)

['apple', 'guava', 'banana', 'orange']

In [ ]:
#TUPLE

apps = ('google','maps','swiggy','zomato')
print(apps)

('google', 'maps', 'swiggy', 'zomato')

In [4]:
#SET

fruits = {'apple','orange','banana','orange','guava','apple','kiwi'}
print(fruits)

{'apple', 'banana', 'guava', 'orange', 'kiwi'}

In [6]:
#DICTIONARY

car_info ={
    "brand":"ford ",
    "model" : "mustang",
    "year": "1964"
}
print(car_info)

{'brand': 'ford ', 'model': 'mustang', 'year': '1964'}

In [8]:
student = {
    'name':'jhon',
    'age' : '23',
    'class' : '6th'
}
print(student)

{'name': 'jhon', 'age': '23', 'class': '6th'}

In [10]:
# type function to check or it tells which type of data or datatype is stored in the variable /value.

name = "jhon"
type(name)

str

In [12]:
num = input("enter a value")
print(num)
type(num)

2

str

## TYPECASTING

In [14]:
#first method of typecasting.

num = input("enter a value") 
num2 = int(num)
print(num2)
type(num2)

6

int

In [15]:
# direct type casting 2nd method of it

num = int(input("enter a value"))
print(num)
type(num)

3

int

In [16]:
# print formatting

a = 10
b = 2
sum = a+b
print("sum is =",sum)

sum is = 12

In [17]:
a = 10
b = 2
print("sum of",a,"and",b,"is",a+b)
print(f'sum of {a} and {b} is {a+b}')         # this is called string formatting.

sum of 10 and 2 is 12
sum of 10 and 2 is 12