## Dictioniaries 
##### what we will study.
- how to declare it.
- how to access key and value pairs.
- how to use loops in dictionary.
- indexing in dictionary.

In [2]:
information={
    "name":"shivansh kumar",
    "age":"20",
    "class":"3 sem"
}
print(information)

{'name': 'shivansh kumar', 'age': '20', 'class': '3 sem'}

In [3]:
# format.1 - key : value format. 
temp ={
    "lucknow":[25,30,35],
    "delhi":[20,25,30],
    "mumbai":[30,35,40]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [20, 25, 30], 'mumbai': [30, 35, 40]}

In [4]:
# format.2 - dict format.
info = dict(name="shivansh kumar",age="20",classs="3 sem")
print(info)

{'name': 'shivansh kumar', 'age': '20', 'classs': '3 sem'}

In [5]:
# taking input from user
info2= dict(name=(input("enter your name")),
            age=int(input("enter your age:")),
            course=(input("enter your course:")))
print(info2)

{'name': 'shivansh kumar', 'age': 20, 'course': 'cse(ai)'}

##### To access values.

In [6]:
# 1st method to access the value of a key.
print(information["name"])
print(info["age"])

shivansh kumar
20

In [7]:
# 2nd method to access the value of a key.
print(information.get("name"))

shivansh kumar

#### To add items in a dictionary.

In [8]:
# 1st method
information["school"]= "BBDU"
information["city"]= "lucknow"
print(information)

{'name': 'shivansh kumar', 'age': '20', 'class': '3 sem', 'school': 'BBDU', 'city': 'lucknow'}

In [10]:
# to see all the value in once withput loop.
print(information.keys())
print(information.values())

dict_keys(['name', 'age', 'class', 'school', 'city'])
dict_values(['shivansh kumar', '20', '3 sem', 'BBDU', 'lucknow'])

In [11]:
# to view all key and values at once use .item .
print(information.items())

dict_items([('name', 'shivansh kumar'), ('age', '20'), ('class', '3 sem'), ('school', 'BBDU'), ('city', 'lucknow')])

In [13]:
# by using loop.
for k in information:  #here k is the pointer value, even if we take any other single pointer variable then it will always refer to key if we are working on dictionary. 
    print(k)

name
age
class
school
city

In [14]:
# khaali values print krana using loop is not possible so instead we go with;
for k,v in information.items():
    print(k,v)

name shivansh kumar
age 20
class 3 sem
school BBDU
city lucknow

In [16]:
# using formatting.
for k,v in information.items():
    print(f"{k}:-{v}")

name:-shivansh kumar
age:-20
class:-3 sem
school:-BBDU
city:-lucknow

In [18]:
company={
    "emp001" :{
        "name":"shivansh",
        "age":20,
        "city":"lucknow",
        "salary":2500000
    },
    "emp002" :{
        "name":"saurabh",
        "age":25,
        "city":"delhi",
        "salary":200000
    },
    "emp003":{
        "name":"tommy",
        "age":17,
        "city":"bombay",
        "salary":20000
    }
    
}
print(company)

{'emp001': {'name': 'shivansh', 'age': 20, 'city': 'lucknow', 'salary': 2500000}, 'emp002': {'name': 'saurabh', 'age': 25, 'city': 'delhi', 'salary': 200000}, 'emp003': {'name': 'tommy', 'age': 17, 'city': 'bombay', 'salary': 20000}}

In [19]:
# to correct the above output or to make it more easier to read we will use pretty print command.
from pprint import pprint
pprint(company)

{'emp001': {'age': 20,
            'city': 'lucknow',
            'name': 'shivansh',
            'salary': 2500000},
 'emp002': {'age': 25, 'city': 'delhi', 'name': 'saurabh', 'salary': 200000},
 'emp003': {'age': 17, 'city': 'bombay', 'name': 'tommy', 'salary': 20000}}

In [20]:
company["emp001"]["name"]

'shivansh'

In [22]:
temp["lucknow"][2]

35

In [24]:
print(sum(temp["lucknow"])/len(temp["lucknow"]))

30.0